@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark,
    cupcake, bumblebee, emerald, corporate, synthwave, retro,
    cyberpunk, valentine, halloween, garden, forest, aqua, lofi,
    pastel, fantasy, wireframe, black, luxury, dracula, cmyk,
    autumn, business, acid, lemonade, night, coffee, winter,
    dim, nord, sunset;
}



@keyframes dots {
  0%, 20% {
    color: rgba(255, 255, 255, 0);
    text-shadow:
       .25em 0 rgba(255, 255, 255, 0),
       .5em 0 rgba(255, 255, 255, 0);
  }
  40% {
    color: white;
    text-shadow:
      .25em 0 rgba(255, 255, 255, 0),
      .5em 0 rgba(255, 255, 255, 0);
  }
  60% {
    text-shadow:
      .25em 0 white,
      .5em 0 rgba(255, 255, 255, 0);
  }
  80%, 100% {
    text-shadow:
      .25em 0 white,
      .5em 0 white;
  }
}

.loading-dots::after {
  display: inline-block;
  content: ".";
  animation: dots 1.5s steps(5, end) infinite;
  margin-left: 5px;
  font-weight: bold;
}
